<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

<servlet>
<servlet-name>contact</servlet-name>
<servlet-class>contact</servlet-class>
</servlet>
<servlet>
<servlet-name>track</servlet-name>
<servlet-class>trackinfo</servlet-class>
</servlet>
<servlet>
<servlet-name>updateship</servlet-name>
<servlet-class>updateshipment</servlet-class>
</servlet>
<servlet>
<servlet-name>delete</servlet-name>
<servlet-class>deleteship</servlet-class>
</servlet>
<servlet>
<servlet-name>deletepermanent</servlet-name>
<servlet-class>deleteconfirm</servlet-class>
</servlet>
<servlet>
<servlet-name>update1</servlet-name>
<servlet-class>updatestep1</servlet-class>
</servlet>
<servlet>
<servlet-name>update2</servlet-name>
<servlet-class>updatestep2</servlet-class>
</servlet>
<servlet>
<servlet-name>update3</servlet-name>
<servlet-class>updatestep3</servlet-class>
</servlet>
<servlet>
<servlet-name>update4</servlet-name>
<servlet-class>updatestep4</servlet-class>
</servlet>
<servlet>
<servlet-name>update5</servlet-name>
<servlet-class>updatestep5</servlet-class>
</servlet>
<servlet>
<servlet-name>login</servlet-name>
<servlet-class>loginservlet</servlet-class>
</servlet>
<servlet>
<servlet-name>customerregistration</servlet-name>
<servlet-class>registration</servlet-class>
</servlet>
<servlet>
<servlet-name>createshipment</servlet-name>
<servlet-class>airwaybill</servlet-class>
</servlet>
<servlet>
<servlet-name>ntn</servlet-name>
<servlet-class>ntncheck</servlet-class>
</servlet>
<servlet>
<servlet-name>registership</servlet-name>
<servlet-class>registershipment</servlet-class>
</servlet>
<servlet>
<servlet-name>customer</servlet-name>
<servlet-class>trackcustomer</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>contact</servlet-name>
<url-pattern>/contactservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>track</servlet-name>
<url-pattern>/trackservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updateship</servlet-name>
<url-pattern>/updateshipservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>delete</servlet-name>
<url-pattern>/deleteshipservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>deletepermanent</servlet-name>
<url-pattern>/deleteconfirmservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>update1</servlet-name>
<url-pattern>/update1servlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>update2</servlet-name>
<url-pattern>/update2servlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>update3</servlet-name>
<url-pattern>/update3servlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>update4</servlet-name>
<url-pattern>/update4servlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>update5</servlet-name>
<url-pattern>/update5servlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>login</servlet-name>
<url-pattern>/loginservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>customerregistration</servlet-name>
<url-pattern>/registrationservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>createshipment</servlet-name>
<url-pattern>/shipmentservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ntn</servlet-name>
<url-pattern>/ntnservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>registership</servlet-name>
<url-pattern>/registerservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>customer</servlet-name>
<url-pattern>/trackcustomerservlet</url-pattern>
</servlet-mapping>

</web-app>
